<div class="logo"></div>

<h1>Slide Me</h1>

<h2 class="tk-adelle">An exercise in responsive web design.</h2>

<section class='description'>
  <p>The beauty of the web is the ability to reach anyone, anywhere. This level of  custom experience takes some practice. This is my work in progress...</p>
</section>

<ul>
  <li><%= link_to "About me", "http://www.hireDave.me" %></li>
  <li><%= link_to "Twitter", "http://www.twitter.com/hire_dave" %></li>
  <li><%= link_to "Repo", "https://github.com/DMWoodall/slide-me" %></li>
  <li><%= link_to "A Good Tutorial", "http://www.lynda.com/CSS-tutorials/Creating-Responsive-Web-Design/110716-2.html" %></li>
  <li><%= link_to "A Good Book", "http://www.abookapart.com/products/responsive-web-design" %></li>
  <li><%= link_to "How Responsive Web Designers Imagine User Behavior", "http://themeforest.net/forums/thread/how-responsive-web-designers-imagine-user-behavior/80480" %></li>
</ul>

